
:root {
    --primary-color: gold;
    --text-color: black;
    background-color: gray;
  }
  
  body {
    margin: 0;
    font-family: Trajan pro;
  }
  
  nav {
    background-color: gray;
    text-align: center;
    
  }
  
  nav div {
    display: block;
  }
  
  main {
    text-align: center;
  }
  
  .got-image {
    height: 25rem;
    margin-left: 1rem;
  }
  
  main textarea {
    margin: auto;
    margin-top: 2rem;
  }
  
  #translation-input {
    border: 1px solid var(--text-color);
    display: block;
    height: 20vh;
    width: 40%;
    font-family: inherit;
    font-size: 1rem;
  }
  
  main button {
    margin-top: 1rem;
  }
  
  #translation-button,
  #translation-button-speak {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    font-family: inherit;
    font-size: large;
  }
  
  .paragraph {
    padding: 1rem;
    padding-bottom: 0;
    font-size: large;
  }
  
  #translation-output {
    border: 1px solid var(--text-color);
    text-align: left;
    box-sizing: border-box;
    margin: auto;
    display: block;
    min-height: 10vh;
    max-height: 20vh;
    width: 40%;
    font-family: Trajan pro;
    font-size: 1rem;
    overflow: scroll;
    padding: 1rem;
    font-size: large;
    background: white;
  }
  
  .about {
    font-size: x-large;
  }
  
  footer {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  footer p {
    max-width: 600px;
    margin: auto;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  


   